<!DOCTYPE html>
<html lang="en">
<head>
    <title>Card detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS LIBRARY -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset timeline -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--rating-->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $(".rate1").rate();
        });
    </script>

</head>

<body>
<h1>Admin page</h1>
<div class="product-detail_tab">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column product-detail_tab-header">
                <li class="active"><a data-toggle="tab" href="#add_homestay">Add homestay</a></li>
                <li><a data-toggle="tab" href="#database">Database</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="product-detail_tab-content tab-content">
                <!-- add homestay -->
                <div class="tab-pane fade active show" id="add_homestay">
                    <form action="/admin/add-homestay" class="p-5 bg-light" method="post">
                        <div class="rate1" style="float: none; margin: 0 auto;"></div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" required="">

                            <label for="name">Address</label>
                            <input type="text" class="form-control" name="address" required="">

                            <label for="name">Full address</label>
                            <input type="text" class="form-control" name="full_address" required="">

                            <label for="name">Distance</label>
                            <input type="text" class="form-control" name="distance" required="">

                            <label for="name">Number of people</label>
                            <input type="text" class="form-control" name="nb_people" required="">

                            <label for="name">Number of days</label>
                            <input type="text" class="form-control" name="np_days" required="">

                            <label for="name">Time start</label>
                            <input type="text" class="form-control" name="time_start" required="">

                            <label for="name">Time end</label>
                            <input type="text" class="form-control" name="time_end" required="">

                            <label for="name">Video</label>
                            <input type="text" class="form-control" name="video" required="">

                            <label for="name">Location type</label>
                            <select name="location_type" id="" class="form-control">
                                <option value="Mountainous">Mountainous</option>
                                <option value="Seaside">Seaside</option>
                                <option value="Island">Island</option>
                                <option value="Urban">Urban</option>
                                <option value="Rural">Rural</option>
                            </select>

                            <label for="name">Room type</label>
                            <select name="room_type" id="" class="form-control">
                                <option value="Single">Single</option>
                                <option value="Family">Family</option>
                                <option value="Business">Business</option>
                            </select>

                            <label for="name">Vacation type</label>
                            <select name="vacation_type" id="" class="form-control">
                                <option value="Residential Area">Residential Area</option>
                                <option value="Expedition">Expedition</option>
                                <option value="Business">Business</option>
                            </select>

                            <label for="name">Cuisine</label>
                            <select name="cuisine" id="" class="form-control">
                                <option value="Northern">Northern</option>
                                <option value="Central">Central</option>
                                <option value="Southern">Southern</option>
                                <option value="Local dishes">Local dishes</option>
                                <option value="I am not so picky">Not picky</option>
                            </select>

                            <label for="name">Lifestyle</label>
                            <select name="lifestyle" id="" class="form-control">
                                <option value="I am a typically Leisure person">Leisure</option>
                                <option value="I am a Systems Savvy">Systems Savvy</option>
                            </select>

                            <!--<label for="message">Comment</label>-->
                            <!--<textarea name="content" cols="30" rows="10" class="form-control" required=""></textarea>-->
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add to database" class="btn py-3 px-4 btn-primary">
                        </div>
                    </form>
                </div>
                <!-- END / add homestay -->

                <!-- database -->
                <div class="tab-pane fade" id="tour">
                    <div class="product-detail_overview">
                        <div class="single-slider owl-carousel">

                        </div>

                    </div>
                </div>
                <!-- END / database -->
            </div>
        </div>
    </div>
</div>
</body>