<!DOCTYPE html>
<html>
<head>
    <title>Homestay Booking Form</title>
    <!-- custom-theme -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    name="keywords"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <!-- js -->
    <script src="js/booking_form/jquery.min.js"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="css/booking_form/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="css/booking_form/style.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
</head>
<body>
<div class="main">
    <h1>Homestay Booking Form</h1>
    <div class="w3_agile_main_grids">

        <div id='progress'>
            <div id='progress-complete'></div>
        </div>

        <form action="/search/" class="agile_form" id="SignupForm" method="post">
            <fieldset>
                <h3>Room Type</h3>
                <h4 class="w3layouts_type">What kind of room would you want ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-user"></span>
                        <label class="radio">
                            <input checked="" name="roomtype_radio" value="single" type="radio">
                            <i></i>Single
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-home"></span>
                        <label class="radio">
                            <input name="roomtype_radio" value="family" type="radio">
                            <i></i>Family
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-building"></span>
                        <label class="radio">
                            <input name="roomtype_radio" value="business" type="radio">
                            <i></i>Business
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Location Type</h3>
                <h4 class="w3layouts_type">What kind of areas would you have interest in ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-mountain"></span>
                        <label class="radio">
                            <input checked="" name="locationtype_radio" value="mountainous" type="radio">
                            <i></i>Mountainous
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-umbrella-beach"></span>
                        <label class="radio">
                            <input name="locationtype_radio" value="seaside" type="radio">
                            <i></i>Seaside
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-kiwi-bird"></span>
                        <label class="radio">
                            <input name="locationtype_radio" value="island" type="radio">
                            <i></i>Island
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-city"></span>
                        <label class="radio">
                            <input name="locationtype_radio" value="urban" type="radio">
                            <i></i>Urban
                        </label>
                    </div>
                </div>

                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-tree"></span>
                        <label class="radio">
                            <input name="locationtype_radio" value="rural" type="radio">
                            <i></i>Rural
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Vacation Type</h3>
                <h4 class="w3layouts_type">What kind of vacation do you prefer ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="material-icons">people</span>
                        <label class="radio">
                            <input checked="" name="vacationtype_radio" value="residentialarea" type="radio">
                            <i></i>Residential Area
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-mountain"></span>
                        <label class="radio">
                            <input name="vacationtype_radio" value="expedition" type="radio">
                            <i></i>Expedition
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>The number of travellers</h3>
                <h4 class="w3layouts_type">How many people are proposed to be on this journey ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-user"></span>
                        <label class="radio">
                            <input checked="" name="nbtravellers_radio" value="1" type="radio">
                            <i></i>By yourself
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-home"></span>
                        <label class="radio">
                            <input name="nbtravellers_radio" value="2to4" type="radio">
                            <i></i>2 - 4 persons
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-group"></span>
                        <label class="radio">
                            <input name="nbtravellers_radio" value="4to8" type="radio">
                            <i></i>4 - 8 persons
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-building"></span>
                        <label class="radio">
                            <input name="nbtravellers_radio" value=">8" type="radio">
                            <i></i>> 8 persons
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Duration</h3>
                <h4 class="w3layouts_type">How long would it take ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-sun"></span>
                        <label class="radio">
                            <input checked="" name="duration_radio" value="1" type="radio">
                            <i></i>A day out
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-cloud-sun"></span>
                        <label class="radio">
                            <input name="duration_radio" value="2to4" type="radio">
                            <i></i>2 - 4 days
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-cloud-sun-rain"></span>
                        <label class="radio">
                            <input name="duration_radio" value="7" type="radio">
                            <i></i>A week
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="far fa-calendar-alt"></span>
                        <label class="radio">
                            <input name="duration_radio" value=">7" type="radio">
                            <i></i>> 1 week
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Cuisine</h3>
                <h4 class="w3layouts_type">What kind of cuisine would you be fanatical about ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-arrow-up"></span>
                        <label class="radio">
                            <input checked="" name="cuisine_radio" value="northern" type="radio">
                            <i></i>Northern
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-dot-circle"></span>
                        <label class="radio">
                            <input name="cuisine_radio" value="central" type="radio">
                            <i></i>Central
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-arrow-down"></span>
                        <label class="radio">
                            <input name="cuisine_radio" value="southern" type="radio">
                            <i></i>Southern
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="material-icons">location_on</span>
                        <label class="radio">
                            <input name="cuisine_radio" value="local_dishes" type="radio">
                            <i></i>Local dishes
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="material-icons">more_horiz</span>
                        <label class="radio">
                            <input name="cuisine_radio" value="all" type="radio">
                            <i></i>I am not so picky
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Lifestyle</h3>
                <h4 class="w3layouts_type">What kind of lifestyle do you live ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-gamepad"></span>
                        <label class="radio">
                            <input checked="" name="lifestyle_radio" value="leisure" type="radio">
                            <i></i>I am a typically Leisure person
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-calendar-check"></span>
                        <label class="radio">
                            <input name="lifestyle_radio" value="savvy" type="radio">
                            <i></i>I am a Systems Savvy
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3>Owner</h3>
                <h4 class="w3layouts_type">How is a homestay's owner suitable for you ?</h4>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-child"></span>
                        <label class="radio">
                            <input checked="" name="owner_radio" value="youthful" type="radio">
                            <i></i>A youthful and energetic
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fas fa-book-open"></span>
                        <label class="radio">
                            <input name="owner_radio" value="experience" type="radio">
                            <i></i>An experienced elderly
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-user"></span>
                        <label class="radio">
                            <input checked="" name="owner_radio" value="single" type="radio">
                            <i></i>Single
                        </label>
                    </div>
                </div>
                <div class="form-group agileits_circles">
                    <div class="wthree_radio">
                        <span aria-hidden="true" class="fa fa-home"></span>
                        <label class="radio">
                            <input name="owner_radio" value="married" type="radio">
                            <i></i>Married
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </fieldset>

            <fieldset>
                <h3 class="w3_room">Room Details</h3>
                <div class="form-group w3ls_description">
                    <i aria-hidden="true" class="fa fa-align-right"></i>
                    <textarea name="Message" placeholder="Your message here..." required=""></textarea>
                </div>
            </fieldset>

            <p>
                <button class="btn btn-primary agileinfo_primary submit" type="submit" id="SaveAccount">Submit form</button>
            </p>
        </form>

        <div class="agileits_copyright">
            <p>© 2018 Homestay Booking Form. All rights reserved | Design by Travelie, Absoluke Team</p>
        </div>
    </div>
</div>

<script src="js/booking_form/jquery.validate.min.js"></script>
<script src="js/booking_form/jquery.formtowizard.js"></script>

<script>
    $(function () {
        var $signupForm = $('#SignupForm');

        $signupForm.validate({errorElement: 'em'});

        $signupForm.formToWizard({
            submitButton: 'SaveAccount',
            nextBtnClass: 'btn btn-primary next',
            prevBtnClass: 'btn btn-primary prev',
            buttonTag: 'button',
            validateBeforeNext: function (form, step) {
                var stepIsValid = true;
                var validator = form.validate();
                $(':input', step).each(function (index) {
                    var xy = validator.element(this);
                    stepIsValid = stepIsValid && (typeof xy == 'undefined' || xy);
                });
                return stepIsValid;
            },
            progress: function (i, count) {
                $('#progress-complete').width('' + (i / count * 100) + '%');
            }
        });
    });
</script>
</body>
</html>